.noprint, .logo, .menubar, .searchbox { display: none; }

.pod, .manifest { margin: 0px ; }

/*
     FILE ARCHIVED ON 20:53:28 Jan 22, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:18:09 Sep 11, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 100.258 (3)
  esindex: 0.007
  captures_list: 116.266
  CDXLines.iter: 10.238 (3)
  PetaboxLoader3.datanode: 77.455 (5)
  exclusion.robots: 0.141
  exclusion.robots.policy: 0.13
  RedisCDXSource: 1.632
  PetaboxLoader3.resolve: 535.945 (2)
  load_resource: 558.167
*/